[virtual_sdcard]
path: /home/aspruyt/printer_data/gcodes
#   The path of the local directory on the host machine to look for
#   g-code files. This is a read-only directory (sdcard file writes
#   are not supported). One may point this to OctoPrint's upload
#   directory (generally ~/.octoprint/uploads/ ). This parameter must
#   be provided.
#on_error_gcode:
#   A list of G-Code commands to execute when an error is reported.


[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
#sensor_pin:
min_temp: 0
max_temp: 100
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.